@import "../style/";

.aside {
	padding: 0;
	height: 100%;
	background-color: $normal;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	h2 {
		writing-mode: vertical-rl;
		color: $white;
		font-size: 2.5rem;
		font-weight: 600;
		letter-spacing: 1rem;
	}

	button {
		padding: 2.5rem 1.5rem;
		width: 100%;
		font-size: 1.5rem;
		background-color: transparent;
		border: none;
		writing-mode: vertical-rl;
		transition: background-color 0.2s;

		&:hover {
			background-color: $normal-hover;
		}
	}
}

// <div>
.tile {
	background-color: $white;
	box-shadow: inset 0 0 1rem hsla(160, 0%, 5%, 0.5);

	background-size: 120%;
	background-position: center;
	transition: background-color 0.4s, box-shadow 0.4s, background-size 0.4s;
}
// <a>
.card {
	padding-bottom: 5%;
	height: 100%;
	backdrop-filter: brightness(0.5) grayscale(0.5);
	transition: backdrop-filter 0.4s;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.card h3,
.card h6 {
	padding: 0.5rem 3rem;
	border-radius: 99rem;
	color: $normal;
}
.card h3 {
	background-color: $white;
}
.card h6 {
	background-color: hsl(160, 30%, 75%);
	font-weight: 400;
}

.tile:hover {
	background-size: 130%;
	background-color: hsl(160, 60%, 95%);
	box-shadow: inset 0 0 5rem hsl(160, 0%, 85%);

	.card {
		backdrop-filter: none;
	}

	.card h3,
	.card h6 {
		box-shadow: 4px 4px 8px rgba(black, 0.5), 8px 8px 8px rgba(black, 0.2);
	}
}

.backIcon {
	margin-bottom: 1rem;
	font-size: 2rem;
}
