@import "../style/";

.aside {
	padding: 0;
	height: 100%;
	background-color: $normal;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	h2 {
		writing-mode: vertical-rl;
		color: $white;
		font-size: 2.5rem;
		font-weight: 600;
		letter-spacing: 1rem;
	}

	button {
		padding: 2.5rem 1.5rem;
		width: 100%;
		font-size: 1.5rem;
		background-color: transparent;
		border: none;
		writing-mode: vertical-rl;
		transition: background-color 0.2s;

		&:hover {
			background-color: $normal-hover;
		}
	}
}

.tile {
	background-color: #f2f2f2;
	transition: background-color 0.4s, box-shadow 0.4s;
	display: grid;
	place-items: center;

	&:hover {
		background-color: hsl(160, 60%, 95%);
		box-shadow: inset 0 0 5rem hsl(160, 60%, 85%);
	}
}
