@import "../style/";
@import "../style/color.scss";

.bookmarkWrap {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.bookmark {
	$w: 4rem;

	padding-inline: 2.5rem 2rem;
	width: $w;
	font-size: 2rem;
	border: none;
	background-color: $normal;
	writing-mode: vertical-rl;
	border-radius: 1rem 0 0 20px;
	transition: background-color 0.4s;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		right: 0;
		bottom: calc(12px - #{$w});
		border: calc(#{$w} / 2 - 3px) solid transparent;
		border-top-color: $normal;
		border-right-color: $normal;
		transition: border-color 0.4s;
	}

	&:hover {
		background-color: $normal-hover;
		&::after {
			border-top-color: $normal-hover;
			border-right-color: $normal-hover;
		}
	}

	&.active {
		background-color: $active;

		&::after {
			border-top-color: $active;
			border-right-color: $active;
			z-index: 3;
		}

		&:hover {
			background-color: $active-hover;
			&::after {
				border-top-color: $active-hover;
				border-right-color: $active-hover;
			}
		}
	}
}

.main {
	flex-grow: 1;
	min-height: 100%;
	background-color: $active;
	padding: 8px;
	padding-left: 5vw;
	transition: background-color 0.4s;
	border-radius: 0 20px 20px 0;
	overflow: hidden;

	&.active {
		background-color: $active-hover;
	}
}
