@import "./style/";
@import "./style/color.scss";

.fullScreen {
	width: 100dvw;
	height: 100dvh;
}

.panel {
	background-color: $bgColor;
	@extend .fullScreen;
	transition: transform 0.4s;

	position: absolute;
	left: 0;
}

.panel_1 {
	padding: 5rem;
	top: 0;

	@include rwd-above("lg") {
		padding: 2rem;
	}
}

.panel_2 {
	padding: 2rem;
	top: 100%;
}

.panel_1.openState,
.panel_2.openState {
	transform: translateY(-100%);
}
